# THEORY PART

# Q:1 What are data structures, and why are they important?

-> Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They define the relationship between the data and the operations that can be performed on it.

Importance:

* Efficiency:

  Good data structures allow for faster and more efficient processing of data.

* Organized Storage:

 They help in organizing data logically, making programs easier to manage and understand.

* Optimized Resource Use:

 They help reduce the use of memory and processing power.

* Problem Solving:

 Many complex problems can only be solved effectively using appropriate data structures.

# Q:2 Explain the difference between mutable and immutable data types with examples.

Mutable Data Types:

 These are data types whose values can be changed after they are created. You can modify them using indexing, methods, or assignments.

Example: list, set, dictionary

Immutable Data Types:

 These are data types whose values cannot be changed after creation.

Example: tuple, str, int, float

# Q:3 What are the main differences between lists and tuples in Python?

->
Differences between Lists and Tuples in Python:

* Mutability:

   Lists are mutable - you can change, add, or remove elements after creation.

   Tuples are immutable - once created, their elements cannot be changed.

* Syntax:

   Lists use square brackets - []

   Tuples use parentheses - ()

* Performance:

   Tuples are generally faster and use less memory than lists.

* Use Cases:

   Lists are used when the data is expected to change or grow.

   Tuples are used when the data is fixed or constant.

* Methods Available:

  Lists have many built-in methods like append(), pop(), remove(), etc.

  Tuples have very few methods, mostly for counting or finding elements.

* Safety:

  Since tuples are immutable, they are safer to use when you want to protect data from accidental changes.

# Q:4 Describe how dictionaries store data?

->

A dictionary in Python is an unordered collection of data that stores information in the form of key-value pairs.
Each key is unique, and it maps to a value. You use the key to access or modify the corresponding value quickly. Dictionaries are created using curly braces {}, and key-value pairs are written as key: value.

# Q:5 Why might you use a set instead of a list in Python?

->

Set is unordered collection of unique data set, following are the reasons for prefering set over list:

* Set stores unique values only - duplicates are automatically removed.

* Faster lookup - checking if an item exists is quicker in sets than in lists.

* Supports set operations - like union, intersection, and difference.

* Useful for data cleaning - helps in removing duplicate entries from a dataset.

# Q:6 What is a string in Python, and how is it different from a list?

->

A string in Python is an immutable sequence of characters used to store text.

A list is a mutable sequence that can contain any data type.

How string is different from list:

* Strings store text as a sequence of characters.

* Strings are immutable; lists are mutable.

* Strings use quotes ('...' or "..."); lists use brackets [ ].

* Lists can contain mixed data types; strings only characters.

* Strings cannot be changed directly; lists can be modified freely.

# Q:7 How do tuples ensure data integrity in Python?

->

As tuples are immutable collections of data it maintains the original structure of information and prevents any intentional or accidental modification in orginal data.

# Q:8 What is a hash table, and how does it relate to dictionaries in  python.

->

A hash table is a data structure that stores data in key-value pairs and uses a process called hashing to quickly find the location of the data.

  Python's built-in dictionary is implemented using a hash table internally. When you add a key-value pair to a dictionary, Python calculates the hash of the key to decide where to store the value, which allows for very fast access. Because of this, dictionaries are highly efficient for lookups using keys.

# Q:9 Can lists contain different data types in Python.

->
Yes, lists in Python can contain different data types.

In Python, a list can hold a mix of values like integers, floats, strings, booleans, other lists, or even complex objects—all in a single list.

In [ ]:
# Example :

my_list = [10, "hello", 3.14, True, [1, 2, 3]]
print(my_list)

[10, 'hello', 3.14, True, [1, 2, 3]]

# Q:10 Explain why strings are immutable in Python ?

->
In Python, strings are immutable, which means once a string is created, you cannot change its characters directly. If you try to modify a part of the string, Python will raise an error. This immutability is a design choice made for efficiency, safety, and performance.

So, strings are immutable to make your code more reliable, secure, and memory-efficient.

# Q:11 What advantages do dictionaries offer over lists for certain tasks ?

->

Dictionaries offer several advantages over lists when you're working with key-based tasks.

Advantages of Dictionaries over Lists:

* Faster Lookups:

   Dictionaries use hashing, so finding a value by key is much faster than searching through a list.

* Key-Value Pair Storage:

   Dictionaries let you store data with meaningful keys, which makes your code more readable and organized.

* No Need for Indexing:

   In lists, you access values by index, which can be hard to manage. Dictionaries let you directly access data using a key, which is easier to remember and maintain.

* Avoiding Duplicates in Keys:

   Dictionary keys are unique. If you try to assign a value to an existing key, it updates the value instead of adding a duplicate.

* Great for Structured Data:

   When dealing with objects like students, employees, or products (with attributes), dictionaries work much better than lists.

So, dictionaries are preferred when you need fast access, structured data, or meaningful keys.

#Q:12 Describe a scenario where using a tuple would be preferable over a list?

->
A tuple is preferable over a list when you want to store values that should not be changed throughout the program.

Example :

* Storing Coordinates of a Point.

#Q:13 How do sets handle duplicate values in Python?

->
In Python, a set is an unordered collection of unique elements. This means a set automatically removes duplicate values.When you add duplicate values to a set, only one instance is stored, because sets are built on the principle of uniqueness.

#Q:14 How does the “in” keyword work differently for lists and dictionaries?

->
In Lists:

  The in keyword checks if a value exists in the list. It looks through all items in the list to see if the value is present.

In Dictionaries:

  The in keyword checks if a key exists in the dictionary — not the value.

  To check for a value in a dictionary, use:
  .values() method.

Example: "a" in {"a": 1} will check for "a" that is key, and the result would be "True".

while to check "1" exist in the same dictionary or not we will use in keyword with .values() - int(1) in {"a": 1}.values()

#Q:15 Can you modify the elements of a tuple? Explain why or why not ?

->

No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means once they are created, their elements cannot be changed, added, or removed.

Note:
  If a tuple contains a mutable object like a list, the object inside can be changed, but the tuple itself still cannot be reassigned.

#Q:16 What is a nested dictionary, and give an example of its use case ?

->

Nested dictionary is a dictionary inside another dictionary. It allows you to organize grouped data.

Example: Student Records.

#Q:17 Describe the time complexity of accessing elements in a dictionary?

->

The time complexity of accessing elements in a dictionary is on average:

Average Case: O(1) i.e. constant time


  This means that looking up a value by its key is done in constant time, regardless of the size of the dictionary. This efficiency is due to the hash table implementation behind the dictionary.

Worst Case: O(n)

  In rare scenarios—such as when many keys hash to the same value (hash collisions). However, Python's implementation includes collision resolution strategies to minimize this.

#Q:18 In what situations are lists preferred over dictionaries ?

->

When to Use Lists Over Dictionaries :

1. When Order Matters

   Lists preserve the order of items by default, and you often use them when order is important.

2. When You Don't Need Named Keys :
   
   Lists are best when your data is just a sequence of values — no need to label them with custom keys. It's more memory-efficient than dictionaries in this case.

3. For Iteration and Slicing :

   If you frequently use loops and slicing, lists are simpler:

4. When You Need Ordered Collections of Similar Items :

  Lists are useful for storing multiple items of the same type.

# Q:19 Why are dictionaries considered unordered, and how does that affect data retrieval ?

->

Dictionaries considered unordered because it doesn't support indexing.

How Does This Affect Data Retrieval?

* Doesn't support access by order (indexing) instead use key to retrieve values.

# Q:20 Explain the difference between a list and a dictionary in terms of data retrieval.

->
Lists are ordered collections accessed by index.Accessing an element requires its positional index.

Access Method- By index (e.g., list[0])

Duplicate Entries - Allows duplicate values

while dictionaries are unordered collections accessed by Key.Accessing a value requires its corresponding key.

Access Method - By key (e.g., dict['key'])

Duplicate Entries - Keys must be unique; values can duplicate

# Practical Questions

# Q:1 Write a code to create a string with your name and print it.

In [1]:
# Ans-1

name="narendra"

print(name)

narendra

# Q:2 Write a code to find the length of the string "Hello World".

In [2]:
# Ans-2

len("Hello World")

11

# Q.3 Write a code to slice the first 3 characters from the string "Python Programming".

In [11]:
# Ans-3

S="Python Programming"

first_3_char=S[:3]

print(first_3_char)

Pyt

# Q:4 Write a code to convert the string "hello" to uppercase.

In [12]:
# Ans-4

s1="hello"

s1_uppercase= s1.upper()

print(s1_uppercase)

HELLO

# Q:5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [15]:
# Ans-5

s2="I like apple"

apple_replaced= s2.replace("apple","orange")

print(apple_replaced)

I like orange

# Q:6 Write a code to create a list with numbers 1 to 5 and print it.

In [1]:
# Ans:6

list=[1,2,3,4,5]

print(list)

[1, 2, 3, 4, 5]

# Q:7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [4]:
numbers = [1,2,3,4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

# Q:8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [6]:
list1=[1, 2, 3, 4, 5]

list1.remove(3)

print(list1)

[1, 2, 4, 5]

# Q:9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [7]:
# Ans

list2=['a', 'b', 'c', 'd']

second_el= list2[1]

print(second_el)

b

# Q:10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
list3=[10, 20, 30, 40, 50]

reversed=list3[::-1]  # or use method - numbers.reverse()

print(reversed)

[50, 40, 30, 20, 10]

# Q:11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
# Ans

tuple= (100,200,300)

print(tuple)

(100, 200, 300)

# Q:12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
# Ans

tuple1 = ('red', 'green', 'blue', 'yellow')

second_to_last_el= tuple1[-2]

print(second_to_last_el)

blue

# Q:13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
# Ans

tuple2= (10, 20, 5, 15)

minimum_number=min(tuple2)

print(minimum_number)

5

# Q:14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
tuple3= ('dog', 'cat', 'rabbit')

index_of_the_el_cat= tuple3.index("cat")

print(index_of_the_el_cat)

1

# Q:15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
# Ans

tuple4=("apple","banana","kiwi")

checking= "kiwi" in tuple4

print(checking)

True

# Q:16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [60]:
sett={'a','b','c'}

print(sett)

{'c', 'b', 'a'}

# Q:17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [23]:
# Ans

set1= {1, 2, 3, 4, 5}

set1.clear()

print(set1)

set()

# Q:18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [25]:
#Ans

set2={1, 2, 3, 4}

set2.remove(4)

print(set2)

{1, 2, 3}

# Q:19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [26]:
set3={1, 2, 3}

set4={3, 4, 5}

union=set3 | set4 # or set3.union(set4)

print(union)

{1, 2, 3, 4, 5}

# Q:20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
# Ans

set5={1, 2, 3}
set6={2, 3, 4}

intersection= set5 & set6

print(intersection)

{2, 3}

# Q:21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
# Ans

info={"name":"narendra","age":27,"city":"suthaliya",}

print(info)

{'name': 'narendra', 'age': 27, 'city': 'suthaliya'}

# Q:22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [32]:
# Ans

countries= {'name': 'John', 'age': 25}

countries["country"]="USA"

print(countries)

{'name': 'John', 'age': 25, 'country': 'USA'}

# Q:23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [33]:
dictt={'name': 'Alice', 'age': 30}

name=dictt["name"]

print(name)

Alice

# Q: 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [35]:
# Ans

dictt2={'name': 'Bob', 'age': 22, 'city': 'New York'}

dictt2.pop("age")

print(dictt2)

{'name': 'Bob', 'city': 'New York'}

# Q:25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [37]:
# Ans

dictt3={'name': 'Alice', 'city': 'Paris'}

check_city= "city" in dictt3

print(check_city)

True

# Q:26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [38]:
# Ans

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

# Q:28. Write a code to create a list with strings and print the element at the third index.

In [41]:
# Ans

car_brands = ["maruti", "hyundai", "tata", "mahindra"]

brand_at_index_3= car_brands[3]

print(brand_at_index_3)

mahindra

# Q:29. Write a code to combine two dictionaries into one and print the result.

In [50]:
# Ans

dict1 = {'monkey': 'banana', 'rabit': 'carrot'}
dict2 = {'elephent': 'sugarcane', 'horse': 'gram'}

combined= dict1 | dict2

print(combined)

{'monkey': 'banana', 'rabit': 'carrot', 'elephent': 'sugarcane', 'horse': 'gram'}

# Q:30. Write a code to convert a list of strings into a set.

In [63]:
# Ans

string_list = ["apple", "banana", "mango", "apple"]

string_set = set(string_list)

print(string_set)

{'apple', 'banana', 'mango'}